body {
background-image: url('../image/wall.jpg');
background-attachment: fixed;
background-size: 100% 100%;
}

#container {
width:550px;


}

.sign-in-form {
width:900px;
margin-top:300px;
margin-left:-200px;
border: 2px solid black;
background-color:black;
}

.sign-in-form h1 {
color:white;
text-shadow:2px 2px 2px black;
}

.sign-in-form h2 {
color:white;
text-shadow:2px 2px 2px #000000;

}

.sign-in-form  hr{
width:410px;
float:left;
}

.sign-in-form label {
color:white;
font-size:19px;
font-weight:bold;
margin-right:30px;
}

.form-1 {
width:300px;
text-indent:5px;
height:25px;
font-size:19px;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-o-border-radius:5px;
}

.btn-sign-in {
color:black;
font-size:19px;
width:100px;
line-height:30px;
background-color:white;
border:2px solid black;
border-radius:100px;
-webkit-border-radius:100px;
-moz-border-radius:100px;
-o-border-radius:100px;
margin-left:90px;
}

.btn-sign-in:hover {
color:white;
background-color:black;
border:2px solid white;
}

.btn-sign-up {
color:black;
font-size:19px;
width:100px;
line-height:30px;
background-color:white;
border:2px solid black;
border-radius:100px;
-webkit-border-radius:100px;
-moz-border-radius:100px;
-o-border-radius:100px;
}

.btn-sign-up:hover {
color:white;
font-size:19px;
width:100px;
line-height:30px;
background-color:black;
border:2px solid white;
border-radius:100px;
-webkit-border-radius:100px;
-moz-border-radius:100px;
-o-border-radius:100px;
}