body {
background-image: url('../image/wall');
background-attachment: fixed;
background-size: 100% 100%;
}

#container {
width:1150px;
margin:auto;
}

#container a {
text-decoration:none;
}

#container a:hover {
color:#ff0000;
}

.sign-in-form {
width:1150px;
margin:auto;
}

.sign-in-form h1 {
color:black;

margin:auto;
font-size:50px;
}

.sign-in-form h2 {
color:black;

margin-left:10px;
font-size:30px;
}

.sign-in-form b {
color:black;

margin-left:780px;
}

.sign-in-form strong {
margin-left:210px;
}

.sign-in-form  hr{
width:410px;
float:left;
}

.sign-in-form label {
color:#25a0d9;
text-shadow:2px 2px 2px black;
font-size:19px;
font-weight:bold;
}

.form-1 {
width:300px;
text-indent:5px;
height:25px;
font-size:19px;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-o-border-radius:5px;
}

.form-2 {
width:60px;
text-indent:5px;
height:25px;
font-size:19px;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-o-border-radius:5px;
}

.btn-sign-in {
color:black;
font-size:19px;
width:200px;
line-height:30px;
background-color:white;
border:2px solid black;
border-radius:100px;
-webkit-border-radius:100px;
-moz-border-radius:100px;
-o-border-radius:100px;

}

.btn-sign-in:hover {
color:white;
background-color:black;
border:2px solid white;
}

.btn-sign-up {
color:#ffffff;
font-size:19px;
width:100px;
line-height:30px;
background-color:#0bacff;
border:2px solid #0bacff;
border-radius:100px;
-webkit-border-radius:100px;
-moz-border-radius:100px;
-o-border-radius:100px;
}

.btn-sign-up:hover {
color:#ffffff;
font-size:19px;
width:100px;
line-height:30px;
background-color:#0488cd;
border:2px solid #0488cd;
border-radius:100px;
-webkit-border-radius:100px;
-moz-border-radius:100px;
-o-border-radius:100px;
}

.sign-up-form-1 {
width:700px;
background-color:black;
border:1px solid black;
color:white;
margin:auto;
}

.sign-up-form-1 table {
width:100%;
background-color:black;

margin:auto;
}

.sign-up-form-1 legend {
font-size:30px;
font-weight:bold;
text-shadow:2px 2px 2px black;
color:white;
}

.sign-up-form-1 td{
color:white;
text-shadow:2px 2px 2px black;
}